webfront-end/xml/src/com/xms/dtd/student.dtd

<!DOCTYPE students [
    <!ELEMENT students (student+)>
    <!ELEMENT student (name,age,sex)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT age (#PCDATA)>
        <!ELEMENT sex (#PCDATA)>
        <!ELEMENT sex (#PCDATA)>
        <!ELEMENT sex (#PCDATA)>
        <!ATTLIST student number CDATA '0'>
        ]>